app: vjepa_pose
# nodes: 16
# tasks_per_node: 8
# cpus_per_task: 16
# mem_per_gpu: 220G
folder: ./outputs/pose_mini_test

data:
  # PoseVideoDataset expects each entry in `datasets` to be the root
  # directory of a NeRF synthetic scene (e.g. /path/to/nerf_synthetic/lego).
  datasets:
    - /home/x_anadon/Downloads/nerf_synthetic/lego
  batch_size: 2
  crop_size: 256
  dataset_fpcs:
    - 8
  fps: 4
  # num_workers: 12
  patch_size: 16
  pin_mem: true
  tubelet_size: 2

data_aug:
  auto_augment: false
  horizontal_flip: false
  motion_shift: false
  random_resize_aspect_ratio:
    - 0.75
    - 1.35
  random_resize_scale:
    - 1.777
    - 1.777
  reprob: 0.0

loss:
  auto_steps: 2
  loss_exp: 1.0
  normalize_reps: true
  reg_coeff: 0.0

meta:
  dtype: bfloat16
  eval_freq: 100
  resume_checkpoint: null
  load_predictor: false
  # Use a vit-large checkpoint if you have one
  context_encoder_key: target_encoder
  target_encoder_key: target_encoder
  pretrain_checkpoint: /home/x_anadon/vjepa2/checkpoints/vitl.pt
  save_every_freq: 25
  seed: 239
  use_sdpa: true

model:
  model_name: vit_large
  pred_depth: 12
  pred_embed_dim: 384
  pred_is_frame_causal: true
  pred_num_heads: 12
  uniform_power: true
  use_activation_checkpointing: true
  use_extrinsics: false
  use_rope: true
  # Pretrained checkpoint and loading options for train_mini.py
  load_predictor: false
  load_encoder: true
  

optimization:
  anneal: 15
  epochs: 315
  final_lr: 0.0
  final_weight_decay: 0.04
  ipe: 300
  lr: 0.000425
  start_lr: 0.000075
  warmup: 15
  weight_decay: 0.04

